<%- include('partials/header') -%>

<div class="container">
  <div class="column pt-4">
    <div class="">
      
      <div class="d-flex align-items-center" style="display:none; padding: 0.5rem 2rem;">
        <h1 id="openPostForm" class="pointer postmenufont">Post</h1>
        <div id="postForm">
          <h1 class="mb-5">Add a post</h1>
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption" required></textarea>
          </div>
          <div class="mb-3">
            <label for="mediaUpload" class="form-label">Media (Image or Video)</label>
            <input type="file" class="form-control" id="mediaUpload" name="media">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          <i id="closePostForm" class="fas fa-times close-icon"></i>
        </form>
        </div>
      </div>

      <div class="d-flex align-items-center" style="display:none; padding: 0.5rem 2rem;">
        <h1 id="openPRForm" class="pointer postmenufont">Personal Record</h1>
       <div id="prForm">
        <h1 class="mb-4">Add a personal record</h1>
        <p class="mb-4 text-muted">Your post will be displayed on the leaderboard, you will need to attach a video of you performing the PR for verification.</p>
        <form action="/pr/createPR" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <select class="form-control" id="category" name="category" required>
              <option value="" disabled selected>Select PR</option>
              <option value="benchpress">Bench Press 1RM</option>
              <option value="deadlift">Dead Lift 1RM</option>
              <option value="squat">Squat 1RM</option>
              <option  disabled value="squat">Premuim Overhead Press 1RM</option>
              <option  disabled value="squat">Premuim Leg Press</option>
              <option  disabled value="squat">Premuim Barbell Row</option>
             
            </select>
            
            <div class="mb-3 mt-3">
              <label for="weight" class="form-label">Weight in kg</label>
              <input class="w-100" type="number" id="weight" name="weight" required>
            </div>
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption" required></textarea>
          </div>
          <div class="mb-3">
            <label for="mediaUpload" class="form-label">Media (Video)</label>
            <input type="file" class="form-control" id="mediaUpload" name="media" accept="video/*">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          <i id="closePRForm" class="fas fa-times close-icon"></i>
        </form>
       </div>
      </div>
    </div>
    <div class="col-0">
     
    </div>
  </div>
</div>


<script>
 //Add Post Form
const postForm = document.querySelector('#postForm');
const openPostFormBtn = document.querySelector('#openPostForm');
const closePostFormBtn = document.querySelector('#closePostForm');

openPostFormBtn.addEventListener('click', () => {
  postForm.classList.add('show');
});

closePostFormBtn.addEventListener('click', () => {
  postForm.classList.remove('show');
});

//Add Personal Record Form
const prForm = document.querySelector('#prForm');
const openPRFormBtn = document.querySelector('#openPRForm');
const closePRFormBtn = document.querySelector('#closePRForm');

openPRFormBtn.addEventListener('click', () => {
  prForm.classList.add('show');
});

closePRFormBtn.addEventListener('click', () => {
  prForm.classList.remove('show');
});

</script>

<%- include('partials/footer') -%>