
:root{

  --black: #2b2b2b;
  --white: #f7f7f7;
  --muted: #8e8e8e;
  --border: #e8e8e8;

}

.dark-mode {
  --black: #f0f0f0;
  --white: #2b2b2b;
  --muted: #d5d4d4!important;
  --border: #202020;
  }

body{
  background-color: var(--white);
  color: var(--black);
  padding-top:3.5rem;
padding-bottom: 3rem;}

th{
  color: var(--black);
}
video{
    object-fit: contain!important;
}
.video-margin{
  margin: auto;
width: 40vh;
}
.vjs-poster {

  background-color: var(--white)!important;

  }
  .video-js {
 
    background-color:var(--white)!important;

  }
  .vjs-big-play-button {
    background: rgba(255, 255, 255, 0.251)!important;
    border-radius: 20%!important;
    border: none!important;
}
i{
  color: var(--black);
}
ul{
  padding-left: 1.5rem;
}
p{
  margin-bottom: 0rem;
}
a {
    color: var(--black);
    text-decoration: none;
  }

a:hover{
  color: var(--black);
}
.btn-primary:hover{
  color: var(--white)!important;
}
td > a {
  display: block;
}
#form-container {
  display: none;
}
.form-control{
  background-color: var(--border);
  color: var(--black);
}
textarea:focus, input:focus{
  outline: none!important;
  background-color: var(--white)!important;
  color: var(--black)!important;
}
textarea, input{
  outline: none!important;
  background-color: var(--border)!important;
  color: var(--black)!important;
}


.fixed-header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.fixed-footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.header {
  background-color: var(--white);
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
.footer {
  background-color:var(--white);
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
  }

.index-btn{
    width: 60%!important;
    margin-bottom: 1rem;
}
.btn{
    width: 100%;
}

.btn-primary {
    color: var(--white);
    background-color: var(--black);
    border: none;
}
.btn-primary:hover{
    background-color:var(--black);
    border: none;
}
.btn-profile {
  color: var(--white);
  background-color: var(--black);
}
.btn-profile:hover {
  background-color: var(--black);
}
.home-button {
    border: none;
    background-color: transparent;
    color: var(--black);
    font-size: 24px;
  }
  
  .fa-home:before {
    content: "\f015";
  }
  
.profile-button {
    border: none;
    background-color: transparent;
    color: var(--black);
    font-size: 24px;
  }
  #toggle-icon{
    font-size: 24px;
    cursor: pointer;
  }
  .fa-user:before {
    content: "\f007";
  }

.post-button {
    border: none;
    background-color: transparent;
    color: var(--black);
    font-size: 24px;
    padding-right: 1rem;
  }
  
  .fa-plus:before {
    content: "\f067";
  }
  
  .trophy-icon {
    display: inline-block;
    font-size: 20px;
  }
 
  .fa-trophy:before {
    content: "\f091";
  }

  .leaderboard-button {
    border: none;
    background-color: transparent;
    color: var(--black);
    font-size: 24px;
  }
  .fa-edit{
   position: absolute;
   top: 2;
    font-size: 12px;
    opacity: 20%;
  }





  .video-container {
    position: relative;
  }
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .posts-btn{
    background-color: var(--white)!important;
  }
  .table-btn{
    background-color: var(--white)!important;
  }
  .active {
    background-color: var(--border)!important;
  }
.container{
    padding: 0px;
    max-width: 500px!important;
}

.comments li{
  list-style: none;
  padding-bottom: 0.5rem;
  padding-left: 0;
}
.comments a{
  padding-right: 0.5rem;
}
.comments div{
  margin-left: auto;
}
.comment-form{
  padding: 0 1.5rem;
}
tr, th{
  padding: .3rem .3rem!important;
}
.grid { grid-template-areas: b a;}
.post-item {
    background-color: var(--white);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
  }
  
  .post-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .post {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  
  .post-thumbnail {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
  }
  
  .post-thumbnail img {
    width: 100%;
    height: 100%;
  }
  .post-thumbnail video {
    width: 100%;
    height: 100%;
    object-fit:contain!important;
  }
  
  .post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
  .post-img {
    object-fit: cover;
    max-height: 70vh;
    width: 100%;
  }

  .post-video {
    object-fit: cover;
    height: 77vh;
    width: 100%;
  }
  
  .rounded-circle {
    border-radius: 50%;
  }

  .feed-pic{
    margin-right: 0.3rem;
  }
  
  .text-muted {
    color:var(--muted)!important;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  .row{
    --bs-gutter-x: 0!important;
  }
  

  
  .logo {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
  }
  
  .headerlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }
  .links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .links span {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .links span a {
    color: var(--black);
    text-decoration: none;
  }

  .profile-info{
    display: flex;
    justify-content: space-between; 
    padding: 2.5rem;
  }
  .profile-info > div{
    display: flex;
    flex-direction: column;
  } 
  .postmenufont{
    font-size: 2rem;
    font-weight: 700;
  }
  #postForm, #prForm {
    padding: 4rem;
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 92vh;
    background-color: var(--white);
    z-index: 999;
    transition: all 0.3s ease-in-out;
  }
  #postForm .close-icon, #prForm .close-icon {
    font-size: 20px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
  
  #postForm.show, #prForm.show {
    left: 0;
  }
  
  #postForm #closePostForm, #prForm #closePRForm {
    font-size: 20px;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .pointer{
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    #postForm, #prForm {
      width: 100%;
      left: -100%;
    }
    
    #postForm.show, #prForm.show {
      left: 0;
    }
  }
  
  
  @media (min-width: 1000px){
    .container{
        max-width: 960px;
    }
  }

  @media (min-width: 768px){
.col-md-8 {
width: 100%;
}
}
  @media(max-width: 350px){

    .pt-4{
      padding-top: 3rem!important;
    }
    html {
      font-size: 80%!important;
    }
    body{
      padding-top: 1.5rem;
    }
    .logo {
      font-size: 1.5rem;

    }
    .post-button {
      font-size: 18px;
    }
    .home-button {
    
      font-size: 18px;
    }
  .profile-button {
  
      font-size: 18px;
    }
    .profile-grid{
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr))!important;
    }
    #toggle-icon{
      font-size: 18px;
    }
    .leaderboard-button {
      font-size: 18px;
    }
  }